<!-- командой extends мы указываем что будем расширять шаблон base.html -->
{% extends 'base.html' %}

<!-- тут добавим содержимое title -->
{% block title %}
Главная
{% endblock %}

<!-- тут добавим содержимое content -->
{% block content %}
<main>
    <a href="{{ url_for('blog') }}">Блог</a>
    <section class="one">
        <h1>Это первая секция</h1>
    </section>
    <section class="two">
        <h1>Это вторая секция</h1>
    </section>
    <section class="three">
        <h1>Это третья секция</h1>
    </section>
</main>
{% endblock %}