{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}
<!-- При открытии страницы http://127.0.0.1:5000/profile/Sergey (или любой другой аргумент) будет выводится имя Сергей-->
{% block content %}
<!-- помимо циклов jinja2 поддерживает и ветвление в зависимости от значения переменной -->
{% if user %}
<p>{{ user }}</p>
<!-- если же user не указан, отобразим пользователю сообщение, что он не авторизирован -->
{% else %}
<!-- При открытии страницы http://127.0.0.1:5000/profile (без аргументов) будет выведено сообщение что вы не авторизованы -->
<p>Вы не авторизованы</p>
<!-- Как и конец цикла, блок ветвления тоже нужно закрывать -->
{% endif %}
{% endblock %}